<?xml version="1.0"?>
<model>
  <name>red_cylinder_buoy</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ocean Regatta Organizers</name>
    <email>organizers@ocean-regatta.org</email>
  </author>
  <description>
    Red cylindrical lateral mark buoy (port hand) with collision.
  </description>
</model>

