<?xml version="1.0"?>
<model>
  <name>cardinal_west</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ocean Regatta Organizers</name>
    <email>organizers@ocean-regatta.org</email>
  </author>
  <description>
    West Cardinal Mark buoy.
    Topmark: Two black cones, point-to-point (pointing toward each other).
    Mast: Yellow with a central horizontal Black band (Yellow-Black-Yellow) with collision cylinders.
  </description>
</model>

