<?xml version="1.0"?>
<model>
  <name>finish_line</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ocean Regatta Organizers</name>
    <email>organizers@ocean-regatta.org</email>
  </author>
  <description>
    Official finish line of the Ocean Regatta Challenge.
  </description>
</model>
