<?xml version="1.0"?>
<model>
  <name>cardinal_east</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ocean Regatta Organizers</name>
    <email>organizers@ocean-regatta.org</email>
  </author>
  <description>
    East Cardinal Mark buoy.
    Topmark: Two black cones, base-to-base (pointing away from each other).
    Mast: Black with a central horizontal Yellow band (Black-Yellow-Black) with collision cylinders.
  </description>
</model>

