<?xml version="1.0"?>
<model>
  <name>cardinal_south</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ocean Regatta Organizers</name>
    <email>organizers@ocean-regatta.org</email>
  </author>
  <description>
    South Cardinal Mark buoy.
    Topmark: Two black cones pointing downward.
    Mast: Yellow band above Black band with collision cylinders.
  </description>
</model>

