<?xml version="1.0"?>
<model>
  <name>green_cone_buoy</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ocean Regatta Organizers</name>
    <email>organizers@ocean-regatta.org</email>
  </author>
  <description>
    Green conical lateral mark buoy (starboard hand) with collision.
  </description>
</model>

