<?xml version="1.0"?>
<model>
  <name>cardinal_north</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ocean Regatta Organizers</name>
    <email>organizers@ocean-regatta.org</email>
  </author>
  <description>
    North Cardinal Mark buoy.
    Topmark: Two black cones pointing upward.
    Mast: Black band above Yellow band with collision cylinders.
  </description>
</model>

